.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.appContainer {
    display: flex;
}

.appContainer > *{
    /* border: 1px solid red; */
    margin: 20px;
}

.appContainer h5 {
    padding: 10px 0;
}

.appContainer button,
.appContainer input {
    display: block;
    margin: 5px 0;
    padding: 5px;
}

.appResult > p {
    border: 1px solid whitesmoke;
}